{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turf Owner Approval</title>
    <link rel="stylesheet" href="{% static 'admincss/usermanage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <h1>View All Products</h1>
            <p>view all product details below.</p>
        </header>

        <!-- User Management Table -->
        <section class="user-table-section">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Owner Name</th>
                        <th>Turf Name</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Available Quantity</th>
                      
                      
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.Ownerid.username }}</td>
                        <td>{{ product.turfid.turfname }}</td>
                        <td>{{ product.productname }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.availablequantity }}</td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No products available.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </section>
    </div>
</body>
</html>
